/* RESET */

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ul[class],
ol[class]{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
    list-style: none;
}
  
img {
    max-width: 100%;
    display: block;
}
  
input,
button,
textarea,
select {
    font: inherit;
}

a[class]{
    text-decoration: none;
}

body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background-color: #050510;
}

.header__container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.9px;
    color: #FFFFFF;
}

.title-arrow {
    position: relative;
    padding-left: 50px;
}

.title-arrow::before {
    position: absolute;
    content: url(../images/arrow-lef.svg);
    top: 4px;
    left: 0;
    width: 50px;
    height: 60px;
}

/* HEADER */

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 110px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
}

.menu__item + .menu__item {
    margin-left: 40px;
}

.menu__link {
    font-size: 16px;
    line-height: 24px;
    color: #607290;
    cursor: pointer;
}

.menu__link:hover {
    color: #FFFFFF;
    transition: all .3s;
}

.header__form-lang {
    margin-left: 100px;
}

.serche__product {
    background-color: transparent;
    border: none;
    color: #607290;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.serche__product:hover {
    color: #FFFFFF;
    transition: all .3s;
}

.form__option {
    background-color: #050510;
}

.header__login {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 18px;
    margin-left: 90px;
}

.header__login:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: all .3s;
    cursor: pointer;
}

.header__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

.header__content {
    margin-left: 330px;
}

.header__title {
    font-size: 67px;
    line-height: 76px;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.header__content-box {
    display: flex;
}

.header__content-counter {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background-color: #050510;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}

.header__content-counter + .header__content-counter {
    margin-left: 10px;
}

.header__content-numb {
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
}
.header__content-text {
    font-size: 17px;
    line-height: 27px;
    color: #607290;
}

.header__social-item  {
    margin-top: 50px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 250px;
}

.header__bottom-btn {
    background-color: #20bfe1;
    border-radius: 30px;
    padding: 20px 50px;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
}

.header__bottom-btn:hover {
    background-color:#a11f85;
    transition: all .3s;
}

.header__bottom-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom-text {
    display: inline;
    font-size: 18px;
    line-height: 27px;
    color: #607290;
}

.header__bottom-price {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding-left: 40px;
}

.header__total {
    display: flex;
    flex-direction: column;
    background-color: #030309;
    padding: 15px 30px;
}

.header__total-box {
    width: 1040px;
    border-bottom: 9px solid #23293B;
    margin-bottom: 8px;
}

.header__total-line {
    height: 9px;
    background-color: #B63587;
    margin-top: -17px;
}

.header__total-numb {
    font-size: 24px;
    line-height: 48px;
    color: #FFFFFF;
    font-weight: 700;
}

.header__total-line {
    color: #FFFFFF;
}

.header__total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #607290;
}

/* WHAT */

.what {
    background-image: url(../images/what-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: #050510;
    padding: 90px 0;
    margin-bottom: 150px;
}

.what__top {
    max-width: 620px;
    margin-left: auto;
    margin-bottom: 240px;
}

.what__title {
    margin-bottom: 30px;
}

.what__text {
    font-size: 18px;
    line-height: 27px;
    color: #607290;
    margin-bottom: 50px;
}

.what__btn-paper {
    background-color: #20bfe1;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
}

.what__btn-paper:hover {
    background-color:#a11f85;
    transition: all .3s;
}

.what__btn-play {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 16px;
    line-height: 18px;
    margin-left: 10px;
}

.what__btn-play:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: all .3s;
    cursor: pointer;
}

.what__presale {
    margin-bottom: 75px;
}

.what__presale-text {
    font-size: 18px;
    line-height: 27px;
    color: #607290;
}

.what__release-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.what__release-item {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
    color: #FFFFFF;
}

.what__release-items {
    max-width: 250px;
}

.what__release-content {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.what__presale-text--white {
    color: #FFFFFF;
}


/* FEATURES */

.features {
    background-image: url(../images/features-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 100px;
}

.features__title {
    text-align: center;
    margin-bottom: 30px;
}

.features__text {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    color: #607290;
    max-width: 637px;
    margin: 0 auto;
}

.features__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 213px;
}

.features__box {
    text-align: center;
    max-width: 250px;
}

.features__icon {
    margin: 0 auto;
}

.features__box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.features__subtitle {
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.features__text {
    margin-bottom: 33px;
}

.features__btn {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 18px;
    margin-left: 10px;
}

.features__btn:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: all .3s;
    cursor: pointer;
}

/* PARTNERS */

.partners {
    background-image: url(../images/partners-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
    padding: 176px 0 50px;
}

.partners__title {
    margin-bottom: 65px;
    text-align: left;
}

.partners__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.partners__item {
    border: 1px solid #23293B;
    border-top: none;
    padding: 33px 60px;
}

.partners__item--left {
    border-top: none;
    border-left: none;
}

.partners__item--bottom {
    border-bottom: none;
}

.partners__item--right {
    border-right: none;
}

.partners__img {
    margin: 0 auto;
}

.partners__link {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 16px;
    line-height: 18px;
    margin-top: 80px;
}

.partners__link:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: all .3s;
    cursor: pointer;
}

/* ROADMAP */

.roadmap {
    background-image: url(../images/roadmap-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 200px 0 20px;
}

.roadmap__title {
    text-align: center;
    margin-bottom: 30px;
}

.roadmap__subtitle {
    font-size: 18px;
    line-height: 27px;
    color: #607290;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.roadmap__inner {
    display: flex;
    justify-content: center;
}

.roadmap__box--right {
    text-align: right;
    position: relative;
}

.roadmap__box--right::before {
    position: absolute;
    content: '';
    border-right: 9px solid #D2538A;
    width: 9px;
    height: 510px;
    top: 73px;
    right: -75px;
}

.roadmap__box--left {
    text-align-last: left;
    margin-left: 135px;   
}

.roadmap__item {
    max-width: 240px;
    margin-top: 70px;
}

.roadmap__item--top {
    padding-top: 70px;
}

.roadmap__data {
    font-size: 18px;
    line-height: 22px;
    color: #607290;
    position: relative;
}

.roadmap__data--right::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 1px;
    background-color: #607290;
    top: 20px;
    right: -66px;
}

.roadmap__data--left::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 1px;
    background-color: #607290;
    top: 20px;
    left: -60px;
}

.roadmap__text {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}







/* TEAM */

.team {
    background-image: url(../images/team-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 240px 0 45px;
    margin-bottom: 135px;
}

.team__title {
    margin-bottom: 30px;
}

.team__text {
    font-size: 18px;
    line-height: 27px;
    color: #607290;
    max-width: 300px;
    margin-bottom: 70px;
}

.team__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.team__item {
    text-align: center;
}

.team__img {
    border-radius: 50%;
    margin-bottom: 27px;
    box-shadow: 0px 0px 50px 10px rgba(200, 227, 247, 0.2);
}

.team__name {
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.team__prof {
    font-size: 18px;
    line-height: 20px;
    color: #607290;
    margin-bottom: 30px;
}

.team__link {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 18px;
}

.team__link:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: all .3s;
    cursor: pointer;
}

/* FOOTER */

.footer {
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 72px 0 100px;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    margin-bottom: 37px;
}

.footer__text {
    font-size: 18px;
    line-height: 26px;
    color: #607290;
    text-align: center;
    margin-bottom: 38px;
}

.footer__form {
    position: relative;
    margin-bottom: 30px;
}

.footer__form-email {
    color: #FFFFFF;
    border-color: #23293b;
    background-color: #23293b;
    border-radius: 30px;
    font-size: 16px;
    line-height: 24px;
    width: 620px;
    height: 49px;
    padding: 0 200px 0 30px;
    outline: none;
}

.footer__form-email::placeholder {
    color: #607290;
}

.footer__form-bnt {
    position: absolute;
    top: 2px;
    right: 0;
    padding: 10px 50px;
    background-color: #20bfe1;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #FFFFFF;
}

.footer__social {
    margin-bottom: 30px;
}

.footer__social-list {
    display: flex;
}

.footer__social-item + .footer__social-item {
    margin-left: 20px;
}
.footer__social-link {
    cursor: pointer;
}

.footer__copy {
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    color: #607290;
}
